<!DOCTYPE html>
<html>

<head>

    <title>SpendTrack - Login</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="auth-container">

    <div class="auth-box">

        <h1>💰 SpendTrack</h1>

        <p class="subtitle">
            Manage your expenses easily
        </p>

        <h2>Login</h2>

        <form action="/login" method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <p class="account-text">
            Don't have an account?
            <a href="/register">Create Account</a>
        </p>

    </div>

</div>

</body>

</html>